<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMX Controller</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    <!-- bootstrap4-toggle library -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <!-- bootstrap slider library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.css" />
    <!-- Color picker library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css" />

    <link rel="stylesheet" href="../style.css">
    
  </head>
  <body>
    <h1>DMX Controller</h1>
    <div class="container">
      <div class="row">
        <div class="col list-group"> 
            <div id="par-56-led-rgb-0" class="dmx-component">
                <h4>
                    Spot scène PAR56 LED RGB:
                </h4>
                <div id ="par-56-led-rgb-0-0-channel" class="mb-1 dmx-channel">
                    <span id="par-56-led-rgb-0-0-adress" class="dmx-adress">0</span>    
                    <label class="switch">
                        <input type="checkbox">
                        <span class="switch-slider round"></span>
                    </label>    
                    <input id="par-56-led-rgb-0-0-slider" class="dmx-slider" type="range" min="1" max="20" step= "1" value="7" class="slider">
                    0x<span id="par-56-led-rgb-0-0-hex-value" class="dmx-hex-value"></span>   
                </div>
            </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- bootstrap4-toggle library -->
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <!-- bootstrap slider library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js"></script>
    <!-- Color picker library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>

    <script src="../script.js"></script>

  </body>
</html>